.container
	.masthead
		.pull-left
			h3.muted ColorBot Neural Network		
		.pull-right(style='margin: 20px 0 0 0;')
		#clear(style='clear:both;')
		.navbar
			.navbar-inner
				.container
					ul.nav(id='topNavigation')
						li#home.active
							a(href='/') Home
						li
						li
						li